<main>
    <h2>Productos</h1>
    <div>        
        {{#each products}}
                <div class="product">                
                <div><b>Producto</b> {{{this.description}}}</div>
                <div><b>Precio</b> {{{this.price}}}</div>
            </div>            
        {{/each}}
    </div>
    <br>
    <a href="/api/sessions/logout" class="btn btn-outline-danger w-15">Logout</a>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>